
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/RMS_AdminLayout/_RMS_AdminLayout.cshtml";
}

<!-- page content -->
<div class="" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Restaurants</span>
            <div class="count">@ViewData["restaurantcount"]</div>
            @*<span class="count_bottom"><i class="green">4% </i> From last Week</span>*@
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Vendors</span>
            <div class="count">@ViewData["companyvendorcount"]</div>
            @*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>*@
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Packages</span>
            <div class="count">@ViewData["packagecount"]</div>
            @*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>*@
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> States</span>
            <div class="count green">@ViewData["statescount"]</div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Landing Information</span>
            <div class="count">@ViewData["landinginfocount"]</div>
        </div>
    </div>
</div>

