@model SaaS_RMS.Models.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<style>
    .hero-unit {
        background-size: cover;
        height: 470px;
        opacity: .5;
        z-index: 1;
    }

    h1 {
        position: relative;
        top: -350px;
        left: 40px;
        color: #fff;
    }

    img {
        opacity: .9
    }
</style>

<div class="hero-unit" style="background-image: url('/uploadsLogo/')">
    <div class="container d-flex justify-content-center" style="padding-top: 15em;">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/uploadsLogo/" alt="card image cap" />
            <div class="card-body">
                @foreach(var item in (List<SaaS_RMS.Controllers.SystemControllers.MealDishResponse>)ViewData["dishes"])
                {
                    <p>@item.meal.Name</p>
                    @foreach(var _item in item.dishes)
                    {
                        <p>@_item.Name</p>
                    }
                    <hr/>
                }
                        <div class="card-text">
                            @if (Model != null)
                {
                    <ul class="list-group">
                        @ViewData["listOfMeals"];
                        @*@foreach (var meal in Model.Meals)
                {
                   <li class="list-group-item">@meal.Name</li>
                   <li class="list-group-item">@meal.Description</li>
                }*@
                    </ul>
    }
                        </div>
                    </div>
        </div>
    </div>
</div>





@*<p>Name: @Html.DisplayFor(m => m.Meals.Name)/p>
    <p>@Html.DisplayFor(m => m.Restaurant.Name)</p>*@













@*<div class="main_slider" style="height: 350px; width: 1500px; background-image: url('/uploadsLogo/@Html.DisplayFor(model => model.Image)'); ">
        <div class="container fill_height">
            <div class="row align-items-center fill_height">
                <div class="container">
                    <h1 class="text_center" style="position: relative">
                        Order delicious food online!
                    </h1>
                    <h3 class="text_center">
                        Discover local restaurants that deliver to your doorstep
                    </h3>
                    <div class="Myjumbotron row">

                    </div>
                </div>
            </div>
        </div>
    </div>*@
@section Scripts {
    <script src="~/Landing/js/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log(@ViewData["dishes"])
        });

        /*function GetMealsDishes(id) {
            var xhr = new XMLHttpRequest();
            xhr.responseType = "json";
            xhr.open('GET', "/Restaurants/GetDishes?id=" + id, true);
            xhr.send();

            function processRequest(e) {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log(xhr.response);
                }
            }

            xhr.onreadystatechange = processRequest;
            $.ajax({
                type: 'POST',
                url: '/Restaurants/GetDishes',
                data: { id: id },
                async: true,
                success: function (data) {
                    console.log(data)
                }
            });
        }*/
    </script>
}