@model SaaS_RMS.Models.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/LandingLayout/_LandingLayout.cshtml";
}

<style>
    .hero-unit {
        background-size: cover;
        height: 470px;
        opacity: .5;
        z-index: 1;
    }

    h1 {
        position: relative;
        top: -350px;
        left: 40px;
        color: #fff;
    }

    img {
        opacity: .9
    }

    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    /* Add some padding inside the card container */
    .containerr {
        padding: 2px 16px;
    }

    dt {
        font-size: xx-large;
    }

    .box {
        position: center;
    }

    .selector {
        border-radius: 5px;
        background:
    }
</style>


<div class="hero-unit" style="background-image: url('/uploadsLogo/131675323461797572.jpg')">
    <div class="container d-flex justify-content-center" style="padding-top: 15em;">

        @*<div class="card">
                <img src="~/uploadsLogo/131675323461797572.jpg" alt="Avatar"  style="height:300px; width:100%" >
                <div class="containerr">
                    <h4><b>@ViewData["restaurantname"]</b></h4>
                    <p>@ViewData["restaurantmotto"]</p>
                </div>
            </div>*@
    </div>
</div>

<div class="container ">
    <div class="row">
        <div class="col">
            <!-- Breadcrumbs -->
            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-controller="Home" asp-action="Landing">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Restaurants"><i class="fa fa-angle-right" aria-hidden="true"></i>Restaurants</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@ViewData["restaurantname"]</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="tabs_section_container">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="">
                    <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                        <li class="tab active" data-active-tab="tab_1"><span>Menu</span></li>
                        <li class="tab" data-active-tab="tab_2"><span>Information</span></li>
                        <li class="tab" data-active-tab="tab_3"><span>Reviews (2)</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <!-- Tab Description -->

                <div id="tab_1" class="tab_container active">
                    <div class="tab_title">
                        <h4>Menu</h4>
                    </div>
                    @foreach (var item in (List<SaaS_RMS.Controllers.SystemControllers.MealDishResponse>)ViewData["dishes"])
                    {
                        <h4> @item.meal.Name </h4>
                        <div class="des_col">
                            <div class="row">
                                @foreach (var _item in item.dishes)
                                {
                                    <div class="product-item">
                                        <div class="product discount product_filter">
                                            <div class="product_image">
                                                <img src="~/uploadsLogo/@_item.Image" />
                                            </div>
                                            <div class="favorite favorite_left"></div>
                                            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                                            <div class="product_info">
                                                <h4 class="product_name"><a href="single.html">@_item.Name</a></h4>
                                                <h6 class="product_name">@_item.Description</h6>
                                                <div class="product_price">N@_item.Amount</div>
                                                <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                                                    <span>Quantity:</span>
                                                    <div class="quantity_selector">
                                                        <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                        <span id="quantity_value">1</span>
                                                        <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="red_button add_to_cart_button"><a href="@Url.Action("Restaurant", "Cart")">add to cart</a></div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>

                <!-- Tab Additional Info -->

                <div id="tab_2" class="tab_container">
                    <div class="tab_title additional_info_title">
                        <h4>Information</h4>
                    </div>

                    <dl>
                        <dt>
                            @ViewData["restaurantname"]
                        </dt>
                        <dd>
                            - @ViewData["restaurantmotto"]
                        </dd>
                    </dl>

                    <div class="row">
                        <div class="col-lg-7">
                            <h4>Delivery Time</h4>
                            <table class="table">
                                <tr>
                                    <th>
                                        Day
                                    </th>
                                    <th>
                                        Time
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        Monday
                                    </td>
                                    <td>
                                        10:00 - 21:00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Tuesday
                                    </td>
                                    <td>
                                        10:00 - 21:00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Wednessday
                                    </td>
                                    <td>
                                        10:00 - 21:00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Thursday
                                    </td>
                                    <td>
                                        10:00 - 21:00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Friday
                                    </td>
                                    <td>
                                        10:00 - 21:00
                                    </td>
                                </tr>
                            </table>

                            <hr />
                        </div>

                        <div class="col-lg-5 ">
                            <h4>Take-out Hours</h4>
                            <table class="table">
                                <tr>
                                    <th>
                                        Day
                                    </th>
                                    <th>
                                        Time
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        Monday
                                    </td>
                                    <td>
                                        10:00 - 21:00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Tuesday
                                    </td>
                                    <td>
                                        10:00 - 21:00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Wednessday
                                    </td>
                                    <td>
                                        10:00 - 21:00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Thursday
                                    </td>
                                    <td>
                                        10:00 - 21:00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Friday
                                    </td>
                                    <td>
                                        10:00 - 21:00
                                    </td>
                                </tr>
                            </table>
                            <hr />
                        </div>
                    </div>

                    <div class="row" style="padding-top: 40px">
                        <div class="col-lg-7">
                            <dl>
                                <dt>
                                    Address
                                </dt>
                                <dd>
                                    - @ViewData["restaurantlocation"]
                                </dd>
                            </dl>
                        </div>
                        <div class="col-lg-5">
                            <dl>
                                <dt>
                                    Delivery Fee
                                </dt>
                                <dd>
                                    - N500
                                </dd>
                            </dl>
                        </div>
                    </div>

                </div>

                <!-- Tab Reviews -->

            </div>
        </div>
    </div>

</div>












