@model IEnumerable<SaaS_RMS.Models.Entities.Inventory.ProductDetail>
@using SaaS_RMS.Models.Enums;

    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/AdminLayout/_AdminLayout.cshtml";
        var x = 1;
    }



<div style="padding-top:55px;">
    @if (TempData["productDetail"] != null)
    {
        if (TempData["notificationType"].Equals(NotificationType.Success.ToString()))
        {
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @TempData["productDetail"]
            </div>
        }
        else if (TempData["notificationtype"].Equals(NotificationType.Error.ToString()))
        {
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @TempData["productDetail"]
            </div>
        }
        else if (TempData["notificationtype"].Equals(NotificationType.Info.ToString()))
        {
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                @TempData["productDetail"]
            </div>
        }

    }
    <div class="page-title">
        <div class="title_left">
            <h3>PRODUCT DETAILS</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <a asp-area="" asp-action="Create" class="btn btn-primary btn pull-right"><i style="color: red;" class="fa fa-plus"></i> ADD</a>
                    <table class="table" id="myTable">
                        <tr>
                            <th>
                                S/N
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Product
                            </th>
                            <th>
                                Vendor
                            </th>
                            <th>
                                Price Per Unit
                            </th>
                            <th>
                                Available Quantity
                            </th>
                            <th>
                                Unit Measurement
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(x++)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.Category.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vendor.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </th>
                                <th>
                                    @Html.DisplayFor(modelItem => item.Meaurement)
                                </th>
                                <td>
                                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.ProductDetailId"><i class="fa fa-pencil-square-o "></i> Edit</a>
                                    <a class="btn btn-danger btn-sm" data-modal="" asp-action="Delete" asp-route-id="@item.ProductDetailId"><i class="fa fa-trash-o "></i> Delete</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>